* {
  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-track {
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background: $TextGoldColor;
  }
  scrollbar-color: $TextGoldColor transparent;
  scrollbar-width: thin;
}

body {
  background-color: $mainBackgroundColor;
  font-family: $default-font;
  min-height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 32px;
}

.toTopButton {
  position: fixed;
  bottom: 50px;
  right: 9px;
  font-size: 24px;
  background-color: $BlackColor;
  color: $GoldIcon;
  cursor: pointer;
  border-radius: 100px;
  border: none;

  &:hover {
    color: $LightGoldColor;
  }
}
