.privacy {
  @include PrivacyGeneral;
  display: flex;
  justify-content: center;
  align-items: center;

  &__title {
    @include PrivacyTitle;
  }

  &__general {
    @include PrivacyTerms;
  }
  &__cookie {
    @include PrivacyTerms;
  }
}
