@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

$default-font: 'Poppins', sans-serif;
$mainTitle-font: 'Calligraffitti', sans-serif;
$mainBackgroundColor: #1e1e1e;

$WhiteColor: #efefef;
$BlackColor: #222;
$TextGoldColor: #b38e52;
$LightGoldColor: #e6bc75;
$MediumGoldColor: #a2773c;
$DarkGoldColor: #996e34;
$GoldIcon: #be9758;

@mixin General {
  flex-grow: 1;
  color: $WhiteColor;
  font-weight: 300;
}

@mixin MainTitle {
  color: $LightGoldColor;
  font-family: $mainTitle-font;
  text-align: center;
  font-size: 4.4em;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
}

@mixin MobileTitle {
  color: $LightGoldColor;
  font-family: $mainTitle-font;
  text-align: center;
  font-size: 2.2em;
  padding: 10px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
}

@mixin Table {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #282828;
}

@mixin TextMobile {
  font-size: 1.2em;
  line-height: 1.2em;
}
@mixin TextDesktop {
  font-size: 1.6em;
  line-height: 1.4;
}

@mixin PrivacyGeneral {
  flex-grow: 1;
  color: $WhiteColor;
  text-align: justify;
  margin: 1em;
  line-height: 1.1em;
}

@mixin PrivacyTitle {
  font-size: 2em;
  text-align: center;
  margin-bottom: 1.5em;
}

@mixin PrivacyTerms {
  h1 {
    text-align: center;
    font-size: 1.1em;
    font-weight: 600;
    margin-bottom: 1.2em;
  }
  &-item {
    list-style-type: none;
    p {
      margin-bottom: 1em;
      &:nth-child(n + 2) {
        padding-left: 2em;
      }
    }
  }
}
