.merchandiseProduct {
  @include General;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #282828;
    max-width: 1024px;

    @media (min-width: 1024px) and (min-height: 1135px) {
      border-radius: 10px;
    }

    @media (min-width: 568px) {
      justify-content: space-around;
    }
  }

  &__gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    max-height: 781px;
    padding: 8px;

    @media (min-width: 568px) {
      width: 49%;
      padding: 16px;
    }

    &-mainImg {
      margin-bottom: 16px;
      border-radius: 10px;
      align-self: center;
      overflow: hidden;
      border: 2px solid $GoldIcon;

      @media (min-width: 768px) {
        border: 3px solid $GoldIcon;
      }
    }

    &-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .active {
        border: 2px solid $GoldIcon;
      }

      img {
        width: 22.5%;
        border-radius: 10px;
        cursor: pointer;
      }
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 450px;
    padding: 8px;

    @media (min-width: 568px) {
      width: 49%;
      padding: 16px;
    }

    &-title {
      @include MobileTitle;

      @media (min-width: 390px) {
        font-size: 2.4em;
      }

      @media (min-width: 764px) {
        font-size: 3.1em;
      }

      @media (min-width: 834px) {
        font-size: 3.4em;
      }
    }

    &-price {
      text-align: center;
      font-size: 1.4em;
      font-weight: 500;

      @media (min-width: 360px) {
        font-size: 1.6em;
      }

      @media (min-width: 764px) {
        font-size: 1.8em;
      }
    }

    &-info {
      margin: 8px 0 8px 0;

      @media (min-width: 764px) {
        margin: 16px 0 16px 0;
      }

      ul {
        margin-bottom: 8px;
        font-size: 1.1em;

        @media (min-width: 764px) {
          font-size: 1.4em;
        }

        li {
          line-height: 1.2em;
          margin-bottom: 8px;

          span {
            font-weight: 500;
          }
        }
      }

      p {
        font-size: 1.2em;
        text-align: justify;

        &:first-of-type {
          margin-bottom: 8px;

          @media (min-width: 764px) {
            margin-bottom: 16px;
          }
        }

        @media (min-width: 764px) {
          font-size: 1.6em;
        }
      }
    }

    &-btn {
      @include Button;
      transition: 0.3s;

      &:hover {
        background-color: $DarkGoldColor;
      }
    }
  }
}
